body{
  background:pink;
  text-indent:inherit;
  margin: 80px;
  border: 4px solid yellow;
  padding: 16px;
}
h1{
  color: yellow;
  text-decoration: underline;
}
h2{

}
img{
  width:5:
  height:20;
}
