body{
  background:pink;
  text-indent:inherit;
  margin: 80px;
  border: 4px solid yellow;
  padding: 16px;
}
h1{
  color: yellow;
  text-decoration: underline;
  font-weight: bold;
}
h2{
color: blue;
font-style: italic;
font-weight: bold;
text-decoration: underline;
}

img{
  width:10px:
  height:30px;
}
h3{
  color: green;
  font-weight:bold;
}
