h1{
  color: yellow;
text-align:left;
text-decoration:underline;
}
h2{
  color:white;
  text-decoration:underline;
  text direction: bold;
}
ul{
  color:orange;
}
body{
  background:purple;
  text-indent:inherit;
  margin: 80px;
  border: 4px solid yellow;
  padding: 16px;
}
link{
  color:red;
  text-decoration:none;
}
h3{
  color: blue;
  font-style: bold;
}
link{
  color:red;
  text-decoration: none
}
