h1{
  color: yellow;
text-align:left;
text-decoration:underline;
}
ul{
  color:orange;
  text-decoration: none;
}
body{
  background:purple;
  text-indent:inherit;
  margin: 80px;
  border: 4px solid yellow;
  padding: 16px;
}
h3{
  color: blue;
  font-style: bold;
}
h2{
  color:green
  text decoration:underline

}


